{{ template "chrome/header.html" . }}
{{ template "chrome/subheader.html" . }}
{{ $baseurl := .Site.BaseUrl }}

<div id="content">
    <div id="main_title">
        {{ .Title }}
    </div>

    <section id="main">
    {{ .Content }}

    {{ .Date.Format "Mon Jan 2, 2006" }}

    {{ .FuzzyWordCount }} Words

    {{ range .Params.topics }}
    {{ . }}
    {{ end }}

    {{ range .Params.tags }}
    {{ . }}
    {{ end }}

    {{ if .Prev }}
    {{ .Prev.Title }}
    {{ end }}

    {{ if .Next }}
    {{ .Next.Title }}
    {{ end }}

    </section>
</div>

{{ template "chrome/footer.html" . }}
