body,
html {
    font-family: 'Droid Sans';
    margin:0;
    padding:0;
    color:#000;
    background:#efefef;
    float:left;
}

#sidebar {
    position: fixed;
    height:100%;
    width:340px;
    padding:10px;
    background:#efefef;
}

#content {
    background-color:#efefef;
    position:absolute;
    left:360px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-top:5em;
    min-width: 700px;
}

#main_title {
    font:10em;
    text-align:center;
}

#main {
    padding-top:1em;
}

#codeblock {
    font-family: 'Inconsolata';
}

h1 {
    margin:0;
}

h2 {
    margin:0 0 1em;
}

a {
    text-decoration:none;
    color:#32CD99;
}
