body,
html {
    margin:0;
    padding:0;
    color:#000;
    background:#efefef;
    float:left;
}

#sidebar {
    position: fixed;
    height:100%;
    width:340px;
    padding:10px;
    background:#c9c;
}

#content {
    background-color:purple;
    position:absolute;
    left:360px;
    padding:10px;
}

#main_title {
    font:10em;
    text-align:center;
}

h1 {
    margin:0;
}

h2 {
    margin:0 0 1em;
}


