{{ template "chrome/header.html" . }}


<div id="wrap">
    <!-- header -->
    <div id="header">
        {{ template "chrome/subheader.html" . }}
    </div>

    <!-- main -->
    <div id="main">
        <section id="main">
        <div>
            {{ range first 10 .Data.Pages }}
            {{ .Render "summary" }}
            {{ end }}
        </div>
        </section>

    </div>

    <!-- sidebar -->
    <div id="sidebar">
        <h2>sidebar</h2>

        <!-- nav -->
        <div id="nav">
            <ul>
                <li>one</li>
                <li>two</li>
            </ul>
        </div>
    </div>

    <!-- footer -->
    <div id="footer">
    </div>
</div>

{{ template "chrome/footer.html" }}

